main {
  overflow-x: hidden !important;
}
.block {
  color: #fff;
}
.block h2 {
  color: #0a6945;
  font-size: 16px;
}

.block .num {
  font-size: 28px;
  font-weight: bold;
  padding-left: 20px;
}

.block .icon {
  font-size: 35px;
}
